
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-4">Admin</h1>

<div class="card mb-4">
    <div class="card-body">
        Đây là trang Index Admin.
    </div>
</div>

